In [39]:
import pandas as pd
from unicodedata import normalize

def remove_acentos(txt):
    return normalize('NFKD', txt).encode('ASCII', 'ignore').decode('ASCII')

df_sub = pd.read_csv('subprefeituras.csv')
df_sub

# nome
df_sub.loc[df_sub['nome'] == 'Osvaldo Cruz', 'nome'] = 'OSWALDO CRUZ'
df_sub['nome'] = df_sub['nome'].str.upper()
df_sub['nome'] = df_sub['nome'].apply(remove_acentos)

# subprefeitura
df_sub['subprefeitura'] = df_sub['subprefeitura'].str.upper()

df_sub

                   nome subprefeitura
0          SANTO CRISTO        CENTRO
1                GAMBOA        CENTRO
2                 SAUDE        CENTRO
3                  CAJU        CENTRO
4                CENTRO        CENTRO
..                  ...           ...
159          SANTA CRUZ    ZONA OESTE
160           GUARATIBA    ZONA OESTE
161  BARRA DE GUARATIBA    ZONA OESTE
162  PEDRA DE GUARATIBA    ZONA OESTE
163   ILHA DE GUARATIBA    ZONA OESTE

[164 rows x 2 columns]

In [42]:
df_sub.loc[df_sub['nome'].str.contains('BAND')]

                         nome    subprefeitura
34          PRACA DA BANDEIRA    GRANDE TIJUCA
107         PRAIA DA BANDEIRA            ILHAS
134  RECREIO DOS BANDEIRANTES  BARRA DA TIJUCA

In [79]:
df_escolas = pd.read_csv('escolas.csv')

df_escolas.loc[df_escolas['BAIRRO']=='RECREIO','BAIRRO'] = 'RECREIO DOS BANDEIRANTES'
df_escolas.loc[df_escolas['BAIRRO']=='RIO DAS PEDRAS', 'BAIRRO'] = 'JACAREPAGUA'
df_escolas.loc[df_escolas['BAIRRO']=='FREGUESIA JPA', 'BAIRRO'] = 'Freguesia (Jacarepaguá)'

df_escolas.loc[df_escolas['BAIRRO']=='AUGUSTO VASCONCELOS', 'BAIRRO'] = 'Santíssimo'

df_escolas.loc[df_escolas['BAIRRO']=='NOVA SEPETIBA', 'BAIRRO'] = 'Sepetiba'

df_escolas.loc[df_escolas['BAIRRO'].str.contains('MARACANÃ'), 'BAIRRO'] = 'Vila Isabel'

df_escolas['BAIRRO'] = df_escolas['BAIRRO'].apply(remove_acentos)
df_escolas['BAIRRO'] = df_escolas['BAIRRO'].str.upper()
df_escolas

,id,Escolas_Postos,BAIRRO,ENDEREÇO,lat,lon
0,178,CENTRO INTEGRADO DE EDUCAÇÃO PÚBLICA HENFIL,CAJU,Rua Carlos Seidl S/Nº,"-22,880888","-43,225326"
1,634,EM ALICE DO AMARAL PEIXOTO,BENFICA,Rua Ébano 187,"-22,889574","-43,236202"
2,483,EM CELESTINO SILVA,CENTRO,"R. do Lavradio, 56","-22,909293","-43,183579"
3,476,ESCOLA MUNICIPAL FLORIANO PEIXOTO,SAO CRISTOVAO,Praça Argentina 20,"-22,897629","-43,227456"
4,132,EM PEREIRA PASSOS,RIO COMPRIDO,Praça Condessa Paulo de Frontin 45,"-22,924412","-43,208579"
...,...,...,...,...,...,...
147,474,EM ENGENHEIRO GASTÃO RANGEL,GUARATIBA,Estrada Do Magarça 9.183,"-22,98046","-43,643545"
148,301,EM JONATAS SERRANO,GUARATIBA,"Estrada Do Mato Alto, S/Nº","-22,953163","-43,577409"
149,215,E.M. NARCISA AMALIA,ILHA DE GUARATIBA,Estrada Teodoreto de Camargo S/N.º,"-23,009084","-43,537582"
150,606,EM PROFESSOR CASTILHO,ILHA DE GUARATIBA,Caminho da Matriz 4406,"-22,994124","-43,593683"
151,69,ESCOLA MUNICIPAL CARDEAL ARCOVERDE,MADUREIRA,Rua Agostinho Barbalho 401,"-22,876082","-43,343369"

In [82]:
df = df_escolas.merge(df_sub, left_on='BAIRRO', right_on='nome', how='left')
df.loc[df['subprefeitura'].isnull()]

Empty DataFrame
Columns: [id, Escolas_Postos, BAIRRO, ENDEREÇO , lat, lon, nome, subprefeitura]
Index: []